
.container-align{
    text-align: center;
}
body{
    background-image: linear-gradient(to right, #41295a, #2f0743);
    color: #fff;
    margin-top:5em;
    font-family: 'Noto Sans TC', sans-serif;
}
.label-align{
    display: block;
    font-size: 1.5em;
}
#btn-Click{
    margin-top: 2em;
    width: 100px;
    height: 30px;
    color: #41295a;
    
}

#input_date{
    margin-top: 20px;
    width: 290px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
}
.main-header{
    font-size: 2.5em;
}
#output_text{
    margin-top: 30px;
    font-size:1.8em;
}
.icon{
    font-size: 1.5em;
    color:#fff;
    margin: 20px;
}
.footer-align{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}